{% extends 'base.html.twig' %}

{% block title %}Статистика урлів{{ parent() }}{% endblock %}

{% block body %}
    <h1>Urls info </h1>
    {% for url_code in url_codes %}
        <div class="container user-block">
            <div class="row">
                <div class="col-3">
                    Переходів: {{ url_code.counter }}
                </div>
                <div class="col">
                    Id: {{ url_code.id }}
                    <br>
                    code: <a href="{{ path('shortener_statistic_url', {code: url_code.code}) }}">{{ url_code.code }}</a>
                    <br>
                    url: {{ url_code.url }}
                    <br>
                    user: {{ url_code.user.email }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% block additionalData %} {% endblock %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
